In [25]:
import pandas as pd
import numpy as np
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings

SyntaxError: invalid syntax (<ipython-input-25-03e4127bf4c6>, line 7)

In [26]:
df = pd.read_csv('suicide_vs_depression_update1.csv')
df.head()

,title,author,num_comments,is_suicide,url,selftext_without_stopwords,tokenised_selftext,lemmatize,len
0,Our most-broken and least-understood rules is ...,SQLwitch,180,0,https://www.reddit.com/r/depression/comments/d...,We understand people reply immediately OP invi...,"['We', 'understand', 'people', 'reply', 'immed...","['We', 'understand', 'people', 'reply', 'immed...",3438
1,"Regular check-in post, with information about ...",circinia,186,0,https://www.reddit.com/r/depression/comments/t...,Welcome /r/depression's check-in post - place ...,"['Welcome', '/', 'r', '/', ""depression's"", 'ch...","['Welcome', '/', 'r', '/', ""depression's"", 'ch...",1855
2,Do I kill myself or make this pb&amp;j,thriving_no,30,0,https://www.reddit.com/r/depression/comments/t...,Dammit I eat often,"['Dammit', 'I', 'eat', 'often']","['Dammit', 'I', 'eat', 'often']",18
3,"I’m 25, I’ve never been on a date, haven’t mad...",UnathorizedMaterial,70,0,https://www.reddit.com/r/depression/comments/t...,I bachelors science psychology it’s complete f...,"['I', 'bachelors', 'science', 'psychology', 'i...","['I', 'bachelor', 'science', 'psychology', 'it...",1015
4,(TW: self harm) I thought I had overcome self ...,siouxsie18,44,0,https://www.reddit.com/r/depression/comments/t...,"Just want preface saying fucked up, I know it....","['Just', 'want', 'preface', 'saying', 'fucked'...","['Just', 'want', 'preface', 'saying', 'fucked'...",1656

In [27]:
df.drop(['num_comments', 'title', 'author', 'url', 'lemmatize'], inplace=True, axis=1)

In [28]:
df=df.rename(columns={'is_suicide':'0'})
df=df.rename(columns={'selftext_without_stopwords':'1'})

df.head()

,0,1,tokenised_selftext,len
0,0,We understand people reply immediately OP invi...,"['We', 'understand', 'people', 'reply', 'immed...",3438
1,0,Welcome /r/depression's check-in post - place ...,"['Welcome', '/', 'r', '/', ""depression's"", 'ch...",1855
2,0,Dammit I eat often,"['Dammit', 'I', 'eat', 'often']",18
3,0,I bachelors science psychology it’s complete f...,"['I', 'bachelors', 'science', 'psychology', 'i...",1015
4,0,"Just want preface saying fucked up, I know it....","['Just', 'want', 'preface', 'saying', 'fucked'...",1656

In [29]:
df.drop(['tokenised_selftext'], inplace=True, axis=1)
df['1'] = df['1'].str[:255]

df.head()

   0                                                  1   len
0  0  We understand people reply immediately OP invi...  3438
1  0  Welcome /r/depression's check-in post - place ...  1855
2  0                                 Dammit I eat often    18
3  0  I bachelors science psychology it’s complete f...  1015
4  0  Just want preface saying fucked up, I know it....  1656

In [30]:
df.drop(['len'], inplace=True, axis=1)
df.head()

   0                                                  1
0  0  We understand people reply immediately OP invi...
1  0  Welcome /r/depression's check-in post - place ...
2  0                                 Dammit I eat often
3  0  I bachelors science psychology it’s complete f...
4  0  Just want preface saying fucked up, I know it....

In [33]:
 
df['length'] = df['1'].apply(len)

In [34]:
df.to_csv('suicide_preBERT1.csv', index = False)